*.jpg
*.jpeg
*.hdr
*.exr
*.png
!**/icons/*
!**/apis/**/*.png
!images/*.png
!images/*.jpg

*.blend
!**/resources/*.blend
*.blend1
*.pyc
*.zip
*.idea
*.json
**/log.txt
!**/asset_lists/*.json
/builds
/product_page
todo.md
asset_list.json
__pycache__/
old_version/
dev.py
downloads